

:root{
    --primary-color: #FFF2F1; /* Lavender blush */
    --secondary-color: #A28A64; /* Lion for readability */
    --accent1-color: #A6C6DB; /* Powder blue color f */
    --accent2-color: #34312D; /* Jet color */
    --heading-font: "Libre Baskerville", sans-serif; /*heading text font */
    --body-font:"Roboto Condensed" sans-serif; /* body text font */
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);

}
header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    align-content: space-between;
    border-bottom: 2px 
    solid #ccc;
    max-width: 1000px;
}
.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}
h1 {
    font-size: 2rem;
    font-family: Acme, Arial, sans-serif;
}
.box {
    position:absolute;
    top: 70px;
    background-color: #f4e9d7;
    text-align:start;
    margin-top: 20px;
    margin-left: 250px;
    width: 70%;
    padding: 0.2rem;
    width: min(500px, 70%);
    font-size: 0.7rem;
    opacity: 0.8; 
    color: var(--accent2-color);
}
h1 {
    position: absolute;
    top: 10px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;

}
.grid-history {

    display: grid;
    grid-template-columns: 250px 550px;
    gap: 2px;
    align-items: normal;
    font-size: small;
    margin: 0 20px;
    background-color:darkslategray;
    padding: 10px;

    
    }
.grid-history img {
    margin-top: 28px;
}
    

.navigation {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    font-family: Arial, sans-serif;
}
.navigation li {
    flex: 1 1 auto;
}
.navigation a {
    display: block;
    color: navy;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
}
.navigation a:hover {
    color: tomato;
    font-weight: 700;
    text-decoration: underline;
}
body {
    font-family: Acme, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, article {
    margin: 16px;
    padding: 8px;
}

.gallery {   
     display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px;
    grid-template-rows:minmax(150px, 1fr);
    gap: 10px;  
    padding: 40px;
    font-size: 0.7rem;
    color: black;
    text-align: center;
    grid-column: 1 / -1;
    border-bottom: #b5ac9d;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}
.gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
 
}
h2 {
    font-size: 1.5rem;
    color: var(--secondary-color);
    text-align: center;
    margin: 10px 0;
    border: #34312D solid 1px;
    padding: 10px;
}

.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}


.hero article img {
    float: right;
    width: 125px;
}
.socialmedia {
    display: grid;
    grid-template-columns: 300px 30px 20px 30px;
    grid-template-rows: 5px;
    align-self:self-start;
    justify-content:space-evenly;
    background-color: #34312D;
    padding: 20px;
    margin: 30px auto;
}

.socialmedia a {
    width: 0.5em;
    text-decoration: none;
}
/* last update is 26/july 2025 */